/*Font face*/
@font-face {
   font-family: "Kumbh Sans";
   src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
       url("../fonts/KumbhSans-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Kumbh Sans";
   src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"),
       url("../fonts/KumbhSans-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

/*Global styles*/
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/*Body*/
body{
   font-family: "Kumbh Sans", sans-serif;
   font-weight: normal;
   font-size: 18px;
   background-color: #19a1ad;
   color: #000;
   margin: 0;
   /*position: relative;*/
   overflow: hidden;
}

/*Container*/
.container {
   width: 100%;
   max-width: 380px;
   padding: 0px 15px;
   margin: 175px auto;
}

/*Card*/
.card {
   background-color: #fff;
   border-radius: 15px;
}
.card__header {
   width: 100%;
   height: 140px;
   background-image: url(../images/bg-pattern-card.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   position: relative;
   border-radius: 15px 15px 0 0;
}
.card__avatar {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,25%);
   width: 96px;
   height: 96px;
   border: 4px solid #fff;
   border-radius: 50%;
}
.card__body {
   padding: 75px 0px 25px 0px;
   text-align: center;
   border-bottom: 1px solid #e7e7e7;
}
.card__name {
   margin: 0px 0px 15px 0px;
}
.card__age {
   color: hsl(0, 0%, 59%);
   font-weight: normal;
}
.card__country {
   color: hsl(0, 0%, 59%);
   font-weight: normal;
}
.card__footer {
   padding: 25px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.card__item {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.card__item:not(:last-child){
   margin: 0px 50px 0px 0px;
}
.card__number {
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0px 0px 10px 0px;
}
.card__text {
   color: hsl(0, 0%, 59%);
   font-size: 14px;
}